*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
:root {
    --black: #0000;
    --white: #ffffff;
  }
  header{
    width: 100%;
    padding: 20px;
    color: white;
    
  }
  header nav{
    display: flex;
    width: 100%;
    background-color: red;
   
    align-items: center;
    padding: 0 20px;
  }
  header nav ul {
    margin-left: auto;
    margin-right: 50px;
  }
  header nav ul li{
    display: inline-block;
    
  }
  header nav ul li a{
    padding: 17px;
    font-size: 25px;
    font-weight: bold;
    background-color: gold;
    margin-left: 15px;
    border-radius: 20px;
  }
  header nav ul li a:hover{
    background-color: blue;
  }
  header span{
    font-size: 30px;
    font-weight: bolder;
  }
  